<td>
	<%= link_to user.email, user %>
</td>
<% if current_user.admin? %>
	<td>
		<%= form_for(user) do |f| %>
			<%= f.select(:role, User.roles.keys.map {|role| [role,role]}) %>
			<%= f.submit 'Change Role', :class => 'btn-sm btn-primary btn' %>
		<% end %>
	</td>
	<td>
		<%= link_to("Delete user", user_path(user), :data => { :confirm => "Are you sure?" }, :method => :delete, :class => 'btn-sm btn-primary btn') unless user == current_user %>
	</td>
<% end %>