<%= stylesheet_link_tag "change" %>

<div class = "container">
	<br>
	<h1 style="text-align: center"> Choose Your Goal </h1>	
	<hr class="section-heading-spacer">

 <!-- Three columns of text below the carousel -->
	<div class="row">
		<div class="col-lg-4">
			<%= image_tag "running.png", alt: "Running" %>
			<h3 style="text-align: center">Run</h3>
			<p>Humans were born to run, and running is one of the oldest forms of cardiovascular exercise. Running is a great way to get in shape. There's no cost, besides a pair of shoes, and you can run almost anywhere. </p>
			<p><a class="btn btn-default" href="/runs/new" role="button" style="float: right">Start Running &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= image_tag "water.png", alt: "Drink More Water" %>
			<h3 style="text-align: center">Drink More Water</h3>
			<p>Every day, you're supposed to drink eight glasses of water. If you exercise, maybe even more. Staying hydrated has an abundance of healthy benefits, but it's hard to remember to keep drinking water.</p>
			<p><a class="btn btn-default" href="/waters/new" role="button" style="float: right">Drink That Water &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= image_tag "yoga.png", alt: "Do Yoga" %>
			<h3 style="text-align: center">Do Yoga</h3>
			<p>Those who do yoga swear by it, and for good reason. This ancient art has been practiced for thousands of years as it increases flexibility, offers a core workout and is a physical, mental and spiritual practice. </p>
			<p><a class="btn btn-default" href="/yogas/new" role="button" style="float: right">Start Doing Yoga &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
	</div><!-- /.row -->
	<hr class="section-heading-spacer">
	<div class="row">
		<div class="col-lg-4">
			<%= image_tag "meditate.png", alt: "Let's Meditate" %>
			<h3 style="text-align: center">Meditate</h3>
			<p>Meditation, like yoga, has a multitude of physical and mental health benefits. Some of the reasons that meditation may be practiced are to increase physical relaxation, to decress anxiety and to cope with stress.  </p>
			<p><a class="btn btn-default" href="/meditates/new" role="button" style="float: right">Start Meditating &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= image_tag "journaling.png", alt: "Let's Journal" %>
			<h3 style="text-align: center">Journal</h3>
			<p>There is ever increasing evidence that journaling can affect wellbeing, and journaling can be useful way for some people to deal with stressful events. All you need is a pen and paper, so why not start today?</p>
			<p><a class="btn btn-default" href="/journals/new" role="button" style="float: right">Start Journaling &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<div class="col-lg-4">
			<%= image_tag "exercise.png", alt: "Let's Exercise" %>
			<h3 style="text-align: center">Exercise</h3>
			<p>The benefits of exercise are well known and supported, and the influx of gym memberships at the beginning of every year suggest that people want to exercise more. Let us help you build the habit. </p>
			<p><a class="btn btn-default" href="/exercises/new" role="button" style="float: right">Start Exercising &raquo;</a></p>
		</div><!-- /.col-lg-4 -->
		<hr class="section-heading-spacer">
	</div><!-- /.row -->
</div>