<p id="notice"><%= notice %></p>

<%= debug(@record) %>

<p>
	<strong>Score:</strong>
	<%= @record.score %>
</p>

<p>
	<strong>Phase:</strong>
	<%= @record.phase_id %>
</p>

<p>
	<strong>Easiness:</strong>
	<%= @record.easiness %>
</p>

<%= link_to 'Edit', edit_record_path(@record) %> |
<%= link_to 'Back', records_path %>
